{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
<div class="col-md-12" style="padding-left: 0px; padding-right: 0px; background-color: #2b669a">
    <div class="col-md-2">
        <a href="{% url 'my_view' %}"><img src="{% static 'images/clinic iqon/hospital.png' %}" width="200px" style="margin-top: 2%; margin-bottom: 2%"></a>
    </div>
    <div class="col-md-4">
        <h1 style="font-size: 100px">Karisma</h1>
         <p style="font-size: 40px;">Clinic admin panel</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2"><a class="btn btn-default" style="margin-left: 70%; margin-top: 2%" href="{% url 'logout_view' %}">Logout</a></div>

</div>
<style>
    .shadow{
        background-color: #2aabd2;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }
</style>
{% if request.user.is_superuser %}
{% block content %}

{% endblock %}
{% endif %}
{% if user.is_authenticated %}
    {% block zurnal %}
    {% endblock %}
{% endif %}
<div class="col-md-12" style="height: 10%"></div>
</body>
</html>