<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>StomUsluga</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="col-md-4"></div>
<div class="col-md-4">
{#    <a href="{% url 'clinik' karisma %}">Karisma</a>#}
{#    <a href="{% url 'clinik' kairos %}">Kairos</a>#}
</div>
<div class="col-md-4"></div>
</body>
</html>