{% extends 'doctors-base.html' %}
{% load staticfiles %}
{% block doctors %}
<script>
        console.log(input);
        document.getElementById('treatment_dollar').value=input;
        function ff()
        {
            var input = document.getElementById("dollar").value;
            var url = '/payment'+'/'+input;
            var treatment_url = '/treatment'+'/'+input;
            document.getElementById('month-filter').href=url;
            document.getElementById('treatment-filter').href=treatment_url;

        }
</script>
<script type="text/javascript">
        var firstchart = [['Doctors Name', 'Number of patient']];
        var nextchart = [['Doctors Name', 'Dollar']];

        {% for personal in personal %}
            {% for kadr_id in kadry %}
                {% if personal.DID == kadr_id.DID and kadr_id.Real == 1 %}
                    var num = 0;
                    var suma = 0;
                    {% for posessenie in posessenie %}
                        {% if posessenie.Patient == personal.DID %}
                            num+=1;
                            {% if posessenie.SummaDollar == None %}
                                console.log('None');
                            {% else %}
                                suma+={{ posessenie.SummaDollar }};
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    firstchart.push(['{{ personal.DI }}', num]);
                    nextchart.push(['{{ personal.DI }}', suma]);
                {% endif %}
            {% endfor %}
        {% endfor %}


        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var firstdata = google.visualization.arrayToDataTable(firstchart);
            var nextdata = google.visualization.arrayToDataTable(nextchart);

            var firstoptions = {
                title: 'Treatment',
                hAxis: {title: 'Doctor Names'},
                vAxis: {title: 'Treatment'}
            };
            var nextoptions = {
                title: 'The sum of the earned money.',
                hAxis: {title: 'Doctor Names'},
                vAxis: {title: 'Dollar'}
            };

            var firstchart_google = new google.visualization.ColumnChart(document.getElementById('firstchart'));
            google.visualization.events.addListener(firstchart_google, 'ready', function () {
                  document.getElementById("chart_image_pat").insertAdjacentHTML('beforeEnd', '<a class="btn btn-primary" alt="Chart Image" href="' + firstchart_google.getImageURI() + '" download>Download Treatment</a>');
              });
            firstchart_google.draw(firstdata, firstoptions);

            var nextchart_google = new google.visualization.ColumnChart(document.getElementById('nextchart'));
            google.visualization.events.addListener(nextchart_google, 'ready', function () {
                  document.getElementById("chart_image_sum").insertAdjacentHTML('beforeEnd', '<a class="btn btn-primary" alt="Chart Image" href="' + nextchart_google.getImageURI() + '" download>Download Sum</a>');
              });
            nextchart_google.draw(nextdata, nextoptions);
            }
        </script>
<div class="col-md-4" style="">
{#    <h1 style="margin-top: 2%; margin-left: 25%;">Отчет по докторам</h1>#}
        <form method="post" action="{% url 'filter' %}">
            {% csrf_token %}
            <div class="col-md-5" style="">
                <label for="exampleInputEmail1" class="login-input">Начиная с:</label>
                <input type="text" id="date-from" name="date-from" class="form-control"><br>
            </div>
            <div class="col-md-5">
                <label for="exampleInputEmail1" class="login-input">До: </label>
                <input type="text" id="date-to" name="date-to" class="form-control"><br>
            </div>
            <div class="col-md-1" style="margin-top: 23px;">
                <input type="submit" style="background-color: #9f9f9f" class="btn btn-default" value="Фильтрация">
            </div>
        </form>
    </div>
    <div class="col-md-4" style="margin-top: 0px;">
        <div style="margin-left: 17%; margin-top:5px">
        <label>Курс доллара к сому:</label><br>
        <form action="{% url 'payment' %}" method="post">
            {% csrf_token %}
            <input type="text" value="" name="weekly_shield_dollar" id="treatment_dollar">
            <input type="submit" class="btn-table btn btn-default" value="Недельный отчет">
        </form>
        <form action="{% url 'treatment' %}" method="post">
            {% csrf_token %}
            <input type="text" value="" name="treatment_dollar" id="treatment_dollar">
            <input type="submit" class="btn-table btn btn-default" value="Лечение">
        </form>
{#        <a id="treatment-filter" href="" onclick="ff()" style="background-color: #9f9f9f" class="btn-table btn btn-default">Личение</a>#}
{#        <a href="{% url 'for_to_day' %}" class="btn-table btn btn-default">За день</a>#}
{#        <a href="{% url 'payment' %}" class="btn-table btn btn-default">Оплата</a>#}
        </div>
    </div>
    </div>
    <div class="col-md-12">
{#    <div class="col-md-2 shadow" style="margin-top: 2%">#}
{#        <ul class="nav nav-pills nav-stacked" style="margin-top: 5%">#}
{#          {% for personal in personal %}#}
{#              {% for kadr_id in kadry %}#}
{#                  {% if personal.DID == kadr_id.DID and kadr_id.Real == 1 %}#}
{#                        <li role="presentation" class="active"><a href="{% url 'doctors_patients' personal.DID %}">{{ personal.DI }} {{ personal.DF }}</a> <br></li>#}
{#                  {% endif %}#}
{#              {% endfor %}#}
{#          {% endfor %}#}
{#        </ul>#}
{#    </div>#}
    <div class="col-md-11 shadow" style="margin-left: 3%; margin-top: 5%">
    <div id="firstchart" class="col-md-6" style="height: 60%; margin-top: 20px;"></div>
    <div id="nextchart" class="col-md-6" style="height: 60%; margin-bottom: 3%; margin-top: 20px"></div>
    <div id="chart_image_pat" class="col-md-6" style="margin-bottom: 1%"></div>
    <div id="chart_image_sum" class="col-md-6" style="margin-bottom: 1%"></div>
    </div>
    </div>
{% endblock %}