{% extends 'doctors-base.html' %}
{% load staticfiles %}
{% block doctors %}
    <div class="col-md-4" style="">
{#    <h1 style="margin-top: 2%; margin-left: 25%;">Отчет по докторам</h1>#}
        <form method="post" action="{% url 'doctor_filters' personal_name.DID %}">
            {% csrf_token %}
            <div class="col-md-5">
                <label for="exampleInputEmail1" class="login-input">Начиная с:</label>
                <input type="text" id="date-from" name="date-from" class="form-control"><br>
            </div>
            <div class="col-md-5">
                <label for="exampleInputEmail1" class="login-input">До: </label>
                <input type="text" id="date-to" name="date-to" class="form-control"><br>
            </div>
            <div class="col-md-2" style="margin-top: 23px">
                <input type="submit" style="background-color: #9f9f9f" class="btn btn-default" value="Фильтрация">
            </div>
        </form>
    </div>
    <div class="col-md-2">
{#        <a href="{% url 'doctors_tables' %}" class="btn-table btn btn-default">Посмотреть в виде таблицы</a>#}
        <div style="margin-left: 40px; margin-top: 25px">
            <a href="{% url 'doctor_table_for_to_day' personal_name.DID %}" class="btn-table btn btn-default">За день</a>
        </div>
    </div>
{#    <div class="col-md-4">#}
{#        <a style="margin-top: 35%; margin-left: 20%; background-color: rgba(66, 133, 244, 0.84)" class="btn btn-default dropdown-toggle" href="{% url 'doctors_tables' %}">Посмотреть в виде таблицы</a>#}
{#    </div>#}
    </div>
    <div class="col-md-2 shadow" style="margin-top: 2%; margin-left: 1%">
        <ul class="nav nav-pills nav-stacked" style="margin-top: 4%">
          {% for personal in personal %}
              {% for kadr_id in kadri %}
                  {% if personal.DID == kadr_id.DID and kadr_id.Real == 1 %}
                    <li role="presentation" class="active"><a href="{% url 'doctors_patients' personal.DID %}">{{ personal.DI }} {{ personal.DF }}</a> <br></li>
                  {% endif %}
              {% endfor %}
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
    <h3 class="col-md-6">{{ personal_name.DI }} {{ personal_name.DF }}</h3>
    <h4 class="col-md-3" id="sum"></h4>
    <h4 id="kol"></h4>
    </div>
    <script>
        var sum = 0;
        var kol = 0;
        {% for all_posessenie in all_posessenie %}
            sum+={{ all_posessenie.summa }};
            kol+=1;
        {% endfor %}
        document.getElementById('sum').innerHTML='Общая сумма:'+sum+'сом';
        document.getElementById('kol').innerHTML='Общее количество пациентов:'+kol;
        function hideShowDiv(){
              $('#les8_ex2').toggle('slow');
        }
    </script>
    <div class="col-md-8 shadow" style="margin-left: 3%">
    <table class="table">
        <thead>
        <tr>
            <th>Дата посещений</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Сумма</th>
            <th>Лечение</th>
        </tr>
        </thead>
        <tbody>
        {% for posessenie in posessenie %}
            <tr>
                <th scope="row" id="did">{{ posessenie.Data }}</th>
                <td>{{ posessenie.Patient }}</td>
                <td>{{ posessenie.Patient }}</td>
                <td id="summa">{{ posessenie.summa }} сом</td>
                <td><a href="{% url 'treat' posessenie.ID %}">Посмотреть лечение</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="col-md-12">
    <ul class="pager">
    {% if posessenie.has_previous %}
        <a href="?page={{ posessenie.previous_page_number }}">previous</a>
    {% endif %}
    {% if posessenie.number %}
    <span class="current">
        Page {{ posessenie.number }} of {{ posessenie.paginator.num_pages }}
    </span>
    {% endif %}
    {% if posessenie.has_next %}
        <a href="?page={{ posessenie.next_page_number }}">next</a>
    {% endif %}
    </ul>
    </div>
{#    <div id="firstchart" class="col-md-4" style="height: 40%; margin-left: 1%; margin-top: 2%;"></div>#}
</div>
{% endblock %}