{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>#}
    <style>
    .col-md-3 img {
        margin-left: 0;
        margin-top: 5%;
        width: 50px;
    }
    .menu-header{
        background-color: #c7c7c7;
        margin-top: 0;
    }
    form{
        margin-top: 1%;
        margin-left: 0%;
    }
    .btn-table{
        margin-top: 0%;
        background-color: #63b0d2;
    }
    #dollar{
        margin-top: 1%;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 34px;
    }
    .shadow{
        background-color: #2aabd2;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }
    </style>
    <script>
      $(function() {
        $( "#date-from" ).datepicker();
      });
      $(function() {
        $( "#date-to" ).datepicker();
      });
        function ff()
        {
            var month = document.getElementById("month").value;
            var year = document.getElementById("year").value;
            var input = document.getElementById("dollar").value;
            var url = '/pay_for_week_month'+'/'+month+'/'+year+'/'+input;
            document.getElementById('month-filter').href=url;
        }
    </script>
    <div class="col-md-12 menu-header">
    <div class="col-md-3">
        <div class="col-md-3">
            <a style="margin-left: 0; margin-top: 20px" href="{% url 'goals' %}"><img src="{% static 'images/clinic iqon/Graphicloads-Flat-Finance-Statistics-market.ico' %}"><p style="text-align: center">Goals</p></a>
        </div>
{#        <div class="col-md-3">#}
{#            <a style="margin-left: 50%" href="{% url 'treat_list' %}"><img src="{% static 'images/clinic iqon/user.png' %}"><p style="margin-left: 45%">Список лечений</p></a>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#            <a style="margin-left: 50%" href="{% url 'doctors_tables' %}"><img src="{% static 'images/clinic iqon/calendar1.png' %}"><p style="margin-left: 45%; text-align: center">Список пациентов</p></a>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#            <a style="margin-left: 50%" href="{% url 'documentation' 1 %}"><img src="{% static 'images/clinic iqon/brain-512.png' %}"><p style="margin-left: 25%; text-align: center">Документация</p></a>#}
{#        </div>#}
    </div>
    {% block doctors %}

    {% endblock %}
    </div>
{% endblock %}