{% extends 'doctors-base.html' %}
{% load staticfiles %}
{% block doctors %}
    </div>
<div class="col-md-12" style="margin-top: 3%">
    <div class="col-md-2 shadow">
        <ul class="nav nav-pills nav-stacked" style="margin-top: 5%">
          {% for doc_menu in doc_menu %}
          <li role="presentation" class="active"><a href="{% url 'documentation' doc_menu.id %}">{{ doc_menu.title }}</a> <br></li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 shadow" style="margin-left: 2%">
        {{ documentation.description }}
    </div>
</div>
{% endblock %}