{% extends 'doctors-base.html' %}
{% load static %}
{% block doctors %}
</div>
<script type="text/javascript">
          google.charts.load('current', {packages: ['corechart', 'bar']});
          google.charts.setOnLoadCallback(drawBasic);

          function drawBasic() {
            var sum_chart = [['Weeks', 'Sum for week', 'sum till this week', 'Average', 'Goal']];
            var dollar_chart = [['Weeks', 'Sum for week', 'sum till this week', 'Average', 'Goal']];
            {% for all_sum in arr_for_push_sum_value %}
                sum_chart.push(['{{ all_sum.1 }}', {{ all_sum.0 }}, {{ all_sum.4 }}, {{ all_sum.2 }}, {{ all_sum.3 }}]);
            {% endfor %}
            {% for all_sum in arr_for_push_dollar_value %}
                dollar_chart.push(['{{ all_sum.1 }}', {{ all_sum.0 }}, {{ all_sum.4 }}, {{ all_sum.2 }}, {{ all_sum.3 }}]);
            {% endfor %}

            var sum_data = google.visualization.arrayToDataTable(sum_chart);
            var dollar_data = google.visualization.arrayToDataTable(sum_chart);
            var sum_options = {
              title : 'Total KGS for all clinik',
              vAxis: {title: 'Sum for week'},
              hAxis: {title: 'Weeks'},
              seriesType: 'bars',
              series: {2: {type: 'line'}, 3: {type: 'line'}}
            };
            var dollar_options = {
              title : 'Total $ for all clinik',
              vAxis: {title: 'Sum for week'},
              hAxis: {title: 'Weeks'},
              seriesType: 'bars',
              series: {2: {type: 'line'}, 3: {type: 'line'}},
              interpolateNulls: true,
              min: 0
            };

{#            var sum_googlechart = new google.visualization.ComboChart(document.getElementById('sum_chart'));#}
{#            sum_googlechart.draw(sum_data, sum_options);#}

            var dollar_googlechart = new google.visualization.ComboChart(document.getElementById('dollar_chart'));
              google.visualization.events.addListener(dollar_googlechart, 'ready', function () {
                  document.getElementById("chart_image").insertAdjacentHTML('beforeEnd', '<a class="btn btn-primary" alt="Chart Image" href="' + dollar_googlechart.getImageURI() + '" download>Download Diagram</a>');
              });
          dollar_googlechart.draw(dollar_data, dollar_options);
          }
        </script>
    <div class="col-md-2"></div>
{#    <div class="col-md-8 shadow" style="margin-left: 3%; margin-top: 5%">#}
{#        <div class="bs-example" data-example-id="simple-table">#}
{#            <table class="table">#}
{#                <h4 style="color: #0f0f0f; text-align: center; margin-top: 2%">KGS</h4>#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Weeks</th>#}
{#                    <th>Weekly</th>#}
{#                    <th>Sum</th>#}
{#                    <th>Average</th>#}
{#                    <th>Goal</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for all_sum in arr_for_push_sum_value %}#}
{#                    <tr>#}
{#                        <td>{{ all_sum.1 }}</td>#}
{#                        <td>{{ all_sum.0 }}</td>#}
{#                        <td>{{ all_sum.4 }}</td>#}
{#                        <td>{{ all_sum.2 }}</td>#}
{#                        <td>{{ all_sum.3 }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#        <div id="sum_chart" class="col-md-12" style="height: 60%; float: none; margin-top: 1%; margin-bottom: 1%"></div>#}
{#    </div>#}
    <div class="col-md-8 shadow" style="margin-left: 3%; margin-top: 2%">
        <form method="post" action="{% url 'goals_for_year' %}" style="margin-left: 30%">
            {% csrf_token %}
            <div class="col-md-4">
                <input type="text" name="year" class="form-control">
            </div>
            <input type="submit" class="btn btn-primary" value="Take for year">
        </form>
        <div class="bs-example" data-example-id="simple-table">
            <table class="table">
                <h4 style="color: #0f0f0f; text-align: center; margin-top: 2%">Dollar</h4>
                <thead>
                <tr>
                    <th>Weeks</th>
                    <th>Weekly</th>
                    <th>Sum</th>
                    <th>Average</th>
                    <th>Goal</th>
                </tr>
                </thead>
                <tbody>
                {% for all_sum in arr_for_push_dollar_value %}
                    <tr>
                        <td>{{ all_sum.1 }}</td>
                        <td>{{ all_sum.0 }}</td>
                        <td>{{ all_sum.4 }}</td>
                        <td>{{ all_sum.2 }}</td>
                        <td>{{ all_sum.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="dollar_chart" class="col-md-12" style="height: 60%; float: none; margin-top: 1%; margin-bottom: 1%"></div>
        <div id="chart_image" class="col-md-12" style="margin-bottom: 1%"></div>
    </div>
    </div>
{% endblock %}