{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
.stus-md-4{
    background-color: white;
    height: 30%;
    margin-left: 3%;
{#    margin-top: 2%;#}
}
</style>
    <div class="col-md-12">
        <h1 style="text-align: center;">Управление клиникой</h1><br>
    </div>
{#    <h3 style="text-align: center">Добропожаловать {{ user.username }}! Пожалуйста выберите то что вас интересует, <br> а я вам покажу подробную информацию после выбора!</h3>#}
<div class="col-md-12" style="margin-top: 0">
<div class="col-md-1"></div>
<div class="col-md-3 stus-md-4" style='height: 37%'>
    <img src="{% static 'images/clinic iqon/user.png' %}" style="width: 50%" class="center-block">
    <form method="post" action="{% url 'doctors_chart' %}" class="col-md-12" style="margin-top: 5%">
        {% csrf_token %}
        <input type="hidden" name="clinic_name" value="Karisma">
        <input type="submit" value="Karisma" class="btn btn-primary" style="width: 100%; height: 22%; font-size: 30px">
    </form>
</div>
<a href="#">
<div class="col-md-3 stus-md-4" style='height: 37%'>
    <img src="{% static 'images/clinic iqon/user.png' %}" style="width: 50%" class="center-block">
    <form method="post" action="{% url 'doctors_chart' %}" class="col-md-12" style="margin-top: 5%">
        {% csrf_token %}
        <input type="hidden" name="clinic_name" value="Kairos">
        <input type="submit" value="Kairos" class="btn btn-primary" style="width: 100%; height: 22%; font-size: 30px">
    </form>
</div>
</a>
<div class="col-md-3 stus-md-4" style='height: 37%'>
    <img src="{% static 'images/clinic iqon/user.png' %}" style="width: 50%" class="center-block">
    <form method="post" action="{% url 'doctors_chart' %}" class="col-md-12" style="margin-top: 5%">
        {% csrf_token %}
        <input type="hidden" name="clinic_name" value="Kainos">
        <input type="submit" value="Kainos" class="btn btn-primary" style="width: 100%; height: 22%; font-size: 30px">
    </form>
</div>
</div>
{% endblock %}