{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<style>
    .login-input{
        color: white;
    }
    body{
        background-color: #c7c7c7;
    }
</style>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: #1b6d85; margin-top: 18%">
            <h3 style="text-align: center; color: white">Login to admin panel</h3>
            <form method="post" action="">
                {% csrf_token %}
    {#            Имя пользователя/Username: <input type="text" name="username" value="" placeholder="username"> <br>#}
    {#            Пароль/Password: <input type="password" name="password" value="" placeholder="Password"> <br>#}
    {#            <input type="submit" value="Вход/Login">#}
                <div class="form-group">
                    <label for="exampleInputEmail1" class="login-input">Имя пользователя/Username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="login-input">Пароль/Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <input type="submit" class="btn btn-default" value="Вход/Login">
            </form>
        </div>
    </div>
</div>
</body>
</html>