{% extends 'doctors-base.html' %}
{% load staticfiles %}
{% block doctors %}
    <div class="col-md-2" style="margin-bottom: 2%">
        <a style="margin-top: 30px; margin-left: 600px" href="{% url 'download_pay_m' %}" class="btn-table btn btn-default">Скачать данные за все время в pdf</a>
    </div>
    </div>
    <div class="col-md-2" style="margin-top: 2%">
    </div>
    <div class="col-md-8 shadow" style="margin-top: 20px; height: 80px">
    <div class="col-md-12" style="margin-top: 2px">
        <form method="post" action="{% url 'payment_mont' %}">
            {% csrf_token %}
            <div class="col-md-3">
                <label for="exampleInputEmail1">Month</label>
                <input name="month" list="month" placeholder="Month" class="form-control">
                <datalist id="month">
                    <option value="January">
                    <option value="February">
                    <option value="March">
                    <option value="April">
                    <option value="May">
                    <option value="June">
                    <option value="July">
                    <option value="August">
                    <option value="September">
                    <option value="October">
                    <option value="November">
                    <option value="December">
                </datalist>
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">Year</label>
                <input name="year" list="year" placeholder="Year" class="form-control">
                <datalist id="year">
                      <script>
                          var myDate = new Date();
                          var year = myDate.getFullYear();
                          for(var i = 2016; i < year+1; i++){
                              document.write('<option value="'+i+'">');
                          }
                      </script>
                </datalist>
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">Dollar</label>
                <input type="dollar" id="dollar" name="dollar" class="form-control" placeholder="Dollar">
            </div>
            <input type="submit" value="Filter" class="btn btn-primary" style="margin-top: 3%">
        </form>
        </div>
    </div>
    <div class="col-md-5">
        <h4 class="">Месяц: {{ month_name }}</h4>
    </div>
<div class="col-md-12" style="margin-left: 0">
    <div class="col-md-12 shadow">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr class="tr-total">
                    <th>Ф.И.О доктора</th>
                    <th>нед 1</th>
                    <th>нед 2</th>
                    <th>нед 3</th>
                    <th>нед 4</th>
                    <th>нед 5</th>
                    <th>Bank</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for personal in pers %}
                <tr>
                <td style="background-color: #72a7ad">{{ personal.DI }}</td>
                    {% for payments in payments %}
                        {% if personal.DI == payments.3 %}
                            <div class="col-md-1">
                                <td>{{ payments.2 }}сом <br> ${{ payments.4 }}</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for pers_sum in pers_sum %}
                        {% if personal.DI == pers_sum.4 %}
                            <div class="col-md-1">
                                <td>{{ pers_sum.6 }}сом <br> ${{ pers_sum.5 }}</td>
                                <td>{{ pers_sum.1 }}сом <br> ${{ pers_sum.0 }}</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="tr-total">
                    <td>Subtotal сом</td>
                    {% for totals in totals %}
                        <td>{{ totals.0 }}</td>
                    {% endfor %}
                    {% for bank in bank %}
                        <td>{{ bank.1 }}</td>
                    {% endfor %}
                    {% for subtotal in subtotal %}
                        <td>{{ subtotal.0 }}</td>
                    {% endfor %}
                </tr>
                <tr class="tr-total">
                    <td>Subtotal $</td>
                    {% for totals in totals %}
                        <td>{{ totals.1 }}</td>
                    {% endfor %}
                    {% for bank in bank %}
                        <td>{{ bank.0 }}</td>
                    {% endfor %}
                    {% for subtotal in subtotal %}
                        <td>{{ subtotal.1 }}</td>
                    {% endfor %}
                </tr>
                <tr class="tr-total">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for total_sum in total_sum %}
                        <td>${{ total_sum.1 }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr class="tr-total">
                    <th>нед 1</th>
                    <th>нед 2</th>
                    <th>нед 3</th>
                    <th>нед 4</th>
                    <th>нед 5</th>
                    <th>Subtotal</th>
                    <th>Total(KGS)</th>
                    <th>Total($)</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for personal in pers %}
                <tr>
                    {% for nalich in nalich %}
                        {% if personal.DI == nalich.3 %}
                            <div class="col-md-1">
                            <td>{{ nalich.2 }}сом <br> {{ nalich.4 }}$</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for pers_sum in pers_sum %}
                        {% if personal.DI == pers_sum.4 %}
                            <div class="col-md-1">
                                <td>{{ pers_sum.3 }}сом <br> {{ pers_sum.2 }}$</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for all_total in all_total %}
                        {% if personal.DI == all_total.2 %}
                            <div class="col-md-1">
                                <td>{{ all_total.1 }}сом</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for all_total in all_total %}
                        {% if personal.DI == all_total.2 %}
                            <div class="col-md-1">
                                <td>${{ all_total.0 }}</td>
                            </div>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="tr-total">
                    {% for totals in totals %}
                        <td>{{ totals.2 }}</td>
                    {% endfor %}
                    {% for subtotal in subtotal %}
                        <td>{{ subtotal.3 }}</td>
                        <td>{{ subtotal.7 }}</td>
                        <td>{{ subtotal.8 }}</td>
                    {% endfor %}
                </tr>
                <tr class="tr-total">
                    {% for totals in totals %}
                        <td>{{ totals.3 }}</td>
                    {% endfor %}
                    {% for subtotal in subtotal %}
                        <td>{{ subtotal.4 }}</td>
                        <td>{{ subtotal.9 }}</td>
                    {% endfor %}
                </tr>
                <tr class="tr-total">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for total_sum in total_sum %}
                        <td>${{ total_sum.2 }}</td>
                        <td>${{ total_sum.0 }}</td>
                    {% endfor %}


                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>
{% endblock %}