{% extends 'doctors-base.html' %}
{% load staticfiles %}
{% block doctors %}
    <div class="col-md-5" style="margin-left: 30%">
{#    <h1 style="margin-top: 2%; margin-left: 25%;">Отчет по докторам</h1>#}
        <form method="post" action="{% url 'filter_treat' %}" style="">
            {% csrf_token %}
            <div class="col-md-5">
                <label for="exampleInputEmail1" class="login-input">Поиск по ичением:</label>
                <input type="text" id="" name="pi_pf" class="form-control"><br>
            </div>
            <div class="col-md-2" style="margin-top: 23px">
                <input type="submit" style="background-color: #9f9f9f" class="btn btn-default" value="Фильтрация">
            </div>
        </form>
    </div>
    <div class="col-md-2">
{#        <a href="{% url 'doctors_tables' %}" class="btn-table btn btn-default">Посмотреть в виде таблицы</a>#}
{#        <a href="{% url 'for_to_day' %}" class="btn-table btn btn-default">За день</a>#}
    </div>
{#    <div class="col-md-4">#}
{#        <a style="margin-top: 35%; margin-left: 20%; background-color: rgba(66, 133, 244, 0.84)" class="btn btn-default dropdown-toggle" href="{% url 'doctors_tables' %}">Посмотреть в виде таблицы</a>#}
{#    </div>#}
    </div>
    <div class="col-md-12">
    <div class="col-md-2 shadow" style="margin-top: 2%">
        <ul class="nav nav-pills nav-stacked" style="margin-top: 4%">
          {% for personal in personal %}
          <li role="presentation" class="active"><a href="{% url 'doctors_patients' personal.did %}">{{ personal.di }} {{ personal.df }}</a> <br></li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 shadow" style="margin-left: 3%; margin-top: 2%">
    <table class="table">
        <thead>
        <tr>
            <th>Код</th>
            <th>Название лечении</th>
            <th>Цена</th>
            <th>Имя потциента</th>
            <th>Фамилия потциента</th>
            <th>Количество лечении</th>
            <th>Зуб</th>
        </tr>
        </thead>
        <tbody id="tbody">
{#        {% for treat_for_patsient in treat_for_patsient %}#}
            <script>
            var summa = parseInt('{{ treat.treat.price }}');
            var i = 1;
{#            while (i <= 2){#}
{#                summa+= 10#}
{#            }#}
            console.log(summa)
            </script>
            <tr>
                <th scope="row" id="did">{{ treat_for_patsient.treat }}</th>
                <td>{{ treat_for_patsient.treat.treat_name }}</td>
                <td>{{ treat_for_patsient.treat.price }} сом</td>
                <td>{{ treat_for_patsient.posesenie.patient.pi }}</td>
                <td>{{ treat_for_patsient.posesenie.patient.pf }}</td>
                <td>{{ treat_for_patsient.skolko }}</td>
                <td>{{ treat_for_patsient.zub }}</td>
            </tr>
{#        {% endfor %}#}
        </tbody>
    </table>
</div>

    </div>
    <div class="col-md-12">
    </div>
{% endblock %}