{% extends 'doctors-base.html' %}
{% load static %}
{% block doctors %}
</div>
<script type="text/javascript">

    var sum_kg = [['Treatments', 'Sum for treatment']];
    var dollar = [['Treatments', 'Sum for treatment']];
    {% for all_sum in arr_for_push_sum_value %}
        sum_kg.push(['{{ all_sum.1 }}', parseInt({{ all_sum.2 }})]);
    {% endfor %}
    {% for all_sum in arr_for_push_dollar_value %}
        dollar.push(['{{ all_sum.1 }}', parseInt({{ all_sum.2 }})]);
    {% endfor %}

    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {
        var dollar_data = google.visualization.arrayToDataTable(dollar);
        var sum_data = google.visualization.arrayToDataTable(sum_kg);

        var options = {
            title: 'Treatment',
            hAxis: {title: 'Treatments name'},
            vAxis: {title: 'Treatment sum'}
        };

        var dollar_chart = new google.visualization.ColumnChart(document.getElementById('dollar_chart'));
        dollar_chart.draw(dollar_data, options);
        var sum_chart = new google.visualization.ColumnChart(document.getElementById('sum_chart'));
        sum_chart.draw(sum_data, options);
        }

    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var dollar_data = google.visualization.arrayToDataTable(dollar);
        var sum_data = google.visualization.arrayToDataTable(sum_kg);

        var options = {
            title: 'Treatment Pie Chart'
        };

        var dollar_chart = new google.visualization.PieChart(document.getElementById('dollar_piechart_3d'));
        dollar_chart.draw(dollar_data, options);
        var sum_chart = new google.visualization.PieChart(document.getElementById('sum_piechart_3d'));
        sum_chart.draw(sum_data, options);
      }
</script>
    <div class="col-md-1"></div>
        <div class="col-md-8" data-example-id="simple-table" style="margin-top: 2%">
            <table class="table">
                <thead>
                <tr>
                    <th>Валюта</th>
                    {% for all_sum in arr_for_push_sum_value %}
                    <th>{{ all_sum.1 }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Сом</th>
                    {% for all_sum in arr_for_push_sum_value %}
                        <td>{{ all_sum.0 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Доллар</th>
                    {% for all_sum in arr_for_push_dollar_value %}
                        <td>{{ all_sum.0 }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    <div class="col-md-12 shadow" style="margin-top: 1%">
        <h3 style="text-align: center">Все в долларах</h3>
        <div id="dollar_chart" class="col-md-6" style="height: 50%; margin-top: 1%; margin-bottom: 1%"></div>
        <div id="dollar_piechart_3d" class="col-md-6" style="height: 50%; margin-top: 1%; margin-bottom: 1%"></div>
    </div>
    <div class="col-md-12 shadow" style="margin-top: 1%">
        <h3 style="text-align: center">Все в сомах</h3>
        <div id="sum_chart" class="col-md-6" style="height: 50%; margin-top: 1%; margin-bottom: 1%"></div>
        <div id="sum_piechart_3d" class="col-md-6" style="height: 50%; margin-top: 1%; margin-bottom: 1%"></div>
    </div>
    </div>
{% endblock %}