{% extends 'base.html' %}
{% block zurnal %}
        <script>
      $(function() {
        $( "#date-from" ).datepicker();
      });
      $(function() {
        $( "#date-to" ).datepicker();
      });
        function ff()
        {
            var month = document.getElementById("month").value;
            var year = document.getElementById("year").value;
            var input = document.getElementById("dollar").value;
            var url = '/pay_for_week_month'+'/'+month+'/'+year+'/'+input;
            document.getElementById('month-filter').href=url;
        }
    </script>
    <div class="col-md-12">
    <div class="col-lg-2">
        {{ date }}
    </div>
    <div class="col-md-4" style="">
{#    <h1 style="margin-top: 2%; margin-left: 25%;">Отчет по докторам</h1>#}
        <form method="post" action="{% url 'doctors_index_filter' %}">
            {% csrf_token %}
            <div class="col-md-5" style="">
                <label for="exampleInputEmail1" class="login-input">Начиная с:</label>
                <input type="text" id="date-from" name="date-from" class="form-control"><br>
            </div>
            <div class="col-md-5">
                <label for="exampleInputEmail1" class="login-input">До: </label>
                <input type="text" id="date-to" name="date-to" class="form-control"><br>
            </div>
            <div class="col-md-1" style="margin-top: 23px;">
                <input type="submit" style="background-color: #9f9f9f" class="btn btn-default" value="Фильтрация">
            </div>
        </form>
    </div>
        </div><br>
    {% for chair in chair %}
        <div class="col-md-3" style="background-color: rgba(255, 255, 255, 0); margin-bottom: 2%; margin-top: 2%; ">
        {{ chair.chair }} </br>
            <table class="table">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Zap</th>
                </tr>
                </thead>
                <tbody>
                {% for zurnal in zurnal %}
                    {% if chair.id == zurnal.chair.id %}
                        {% if request.user.username == zurnal.doctor %}
                            <tr style="background-color: #4cae4c">
                                <th scope="row">{{ zurnal.time }}</th>
                                <td>{{ zurnal.doctor }}</td>
                                <td>{{ zurnal.zap }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">{{ zurnal.time }}</th>
                                <td>{{ zurnal.doctor }}</td>
                                <td>{{ zurnal.zap }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}